<tr>
    <td>
        <i name="index"></i>
    </td>
    <td>
        {% include 'dropdown-ui/livestock-product.html' %}
    </td>
    <td>
        {% include 'dropdown-ui/livestock-unit.html' %}
    </td>
    <td>
        <input class="form-control" name="raisingnumber" type="text">
    </td>
    <td>
        <input class="form-control" name="totalyield" type="text">
    </td>
    <td>
        <input class="form-control" name="unitprice" type="text">
    </td>
    <td>
        {% include 'dropdown-ui/contract.html' %}
    </td>
    <td>
        {% include 'dropdown-ui/livestock-loss.html' %}
    </td>
    <td>
        {% include 'button-ui/remove-row.html' %}
    </td>
</tr>