<tr>
    <td>
        <i name="index"></i>
    </td>
    <td>
        {% include 'dropdown-ui/relationship.html' %}
    </td>
    <td>
        {% include 'dropdown-ui/gender.html' %}
    </td>
    <td>
        <input class="form-control" name="birthyear" type="text">
    </td>
    <td>
        {% include 'dropdown-ui/education-level.html' %}
    </td>
    <td>
        {% include 'dropdown-ui/farmer-work-day.html' %}
    </td>
    <td>
        {% include 'dropdown-ui/life-style.html' %}
    </td>
    <td>
        {% include 'dropdown-ui/other-farm-work.html' %}
    </td>
    <td>
        {% include 'button-ui/remove-row.html' %}
    </td>
</tr>