<h4>3.3 農委會「改善農業缺工措施」推動情形</h4>

<div class="table-responsive">
    <label class="control-label">1. 貴戶111年是否有聽過或申請以下協助缺工方案？</label>
    <div name="subsidy" class="alert alert-danger"></div>
    <table class="table table-striped table-hover" name="subsidy">
        <tbody>
            <tr>
                <th colspan="3">改善農業缺工措施</th>
                <th>{{ apply_methods.0.name }}</th>
                <th>{{ apply_methods.1.name }}</th>
                <th>{{ apply_methods.2.name }}</th>
            </tr>
            <tr>
                <td colspan="3">1. 沒聽過（跳填 3.3.2）</td>
                <td>
                    <input type="checkbox" class="w-2 h-2" data-reason-id="{{ refuse_reasons.0.id }}" data-method-id="{{ apply_methods.0.id }}" name="refuse">
                </td>
                <td>
                    <input type="checkbox" class="w-2 h-2" data-reason-id="{{ refuse_reasons.0.id }}" data-method-id="{{ apply_methods.1.id }}" name="refuse">
                </td>
                <td>
                    <input type="checkbox" class="w-2 h-2" data-reason-id="{{ refuse_reasons.0.id }}" data-method-id="{{ apply_methods.2.id }}" name="refuse">
                </td>
            </tr>
            <tr>
                <td rowspan="13">2. 有聽過</td>
                <td rowspan="3">有申請(勾選一項)</td>
                <td>{{ apply_results.0.id }}. {{ apply_results.0.name }}</td>
                <td>
                    <input type="checkbox" class="w-2 h-2" data-result-id="{{ apply_results.0.id }}" data-method-id="{{ apply_methods.0.id }}" name="apply">
                </td>
                <td>
                    <input type="checkbox" class="w-2 h-2" data-result-id="{{ apply_results.0.id }}" data-method-id="{{ apply_methods.1.id }}" name="apply">
                </td>
                <td>
                    <input type="checkbox" class="w-2 h-2" data-result-id="{{ apply_results.0.id }}" data-method-id="{{ apply_methods.2.id }}" name="apply">
                </td>
            </tr>
            <tr>
                <td>{{ apply_results.1.id }}. {{ apply_results.1.name }}</td>
                <td>
                    <input type="checkbox" class="w-2 h-2" data-result-id="{{ apply_results.1.id }}" data-method-id="{{ apply_methods.0.id }}" name="apply">
                </td>
                <td>
                    <input type="checkbox" class="w-2 h-2" data-result-id="{{ apply_results.1.id }}" data-method-id="{{ apply_methods.1.id }}" name="apply">
                </td>
                <td>
                    <input type="checkbox" class="w-2 h-2" data-result-id="{{ apply_results.1.id }}" data-method-id="{{ apply_methods.2.id }}" name="apply">
                </td>
            </tr>
            <tr>
                <td>{{ apply_results.2.id }}. {{ apply_results.2.name }}</td>
                <td>
                    <input type="checkbox" class="w-2 h-2" data-result-id="{{ apply_results.2.id }}" data-method-id="{{ apply_methods.0.id }}" name="apply">
                </td>
                <td>
                    <input type="checkbox" class="w-2 h-2" data-result-id="{{ apply_results.2.id }}" data-method-id="{{ apply_methods.1.id }}" name="apply">
                </td>
                <td>
                    <input type="checkbox" class="w-2 h-2" data-result-id="{{ apply_results.2.id }}" data-method-id="{{ apply_methods.2.id }}" name="apply">
                </td>
            </tr>
            <tr>
                <td rowspan="10">沒有申請(可複選)</td>
                <td>{{ refuse_reasons.1.id }}. {{ refuse_reasons.1.name }}</td>
                <td>
                    <input type="checkbox" class="w-2 h-2" data-reason-id="{{ refuse_reasons.1.id }}" data-method-id="{{ apply_methods.0.id }}" name="refuse">
                </td>
                <td>
                    <input type="checkbox" class="w-2 h-2" data-reason-id="{{ refuse_reasons.1.id }}" data-method-id="{{ apply_methods.1.id }}" name="refuse">
                </td>
                <td>
                    <input type="checkbox" class="w-2 h-2" data-reason-id="{{ refuse_reasons.1.id }}" data-method-id="{{ apply_methods.2.id }}" name="refuse">
                </td>
            </tr>
            <tr>
                <td>{{ refuse_reasons.2.id }}. {{ refuse_reasons.2.name }}</td>
                <td>
                    <input type="checkbox" class="w-2 h-2" data-reason-id="{{ refuse_reasons.2.id }}" data-method-id="{{ apply_methods.0.id }}" name="refuse">
                </td>
                <td>
                    <input type="checkbox" class="w-2 h-2" data-reason-id="{{ refuse_reasons.2.id }}" data-method-id="{{ apply_methods.1.id }}" name="refuse">
                </td>
                <td>
                    <input type="checkbox" class="w-2 h-2" data-reason-id="{{ refuse_reasons.2.id }}" data-method-id="{{ apply_methods.2.id }}" name="refuse">
                </td>
            </tr>
            <tr>
                <td>{{ refuse_reasons.3.id }}. {{ refuse_reasons.3.name }}</td>
                <td>
                    <input type="checkbox" class="w-2 h-2" data-reason-id="{{ refuse_reasons.3.id }}" data-method-id="{{ apply_methods.0.id }}" name="refuse">
                </td>
                <td>
                    <input type="checkbox" class="w-2 h-2" data-reason-id="{{ refuse_reasons.3.id }}" data-method-id="{{ apply_methods.1.id }}" name="refuse">
                </td>
                <td>
                    <input type="checkbox" class="w-2 h-2" data-reason-id="{{ refuse_reasons.3.id }}" data-method-id="{{ apply_methods.2.id }}" name="refuse">
                </td>
            </tr>
            <tr>
                <td>{{ refuse_reasons.4.id }}. {{ refuse_reasons.4.name }}</td>
                <td>
                    <input type="checkbox" class="w-2 h-2" data-reason-id="{{ refuse_reasons.4.id }}" data-method-id="{{ apply_methods.0.id }}" name="refuse">
                </td>
                <td>
                    <input type="checkbox" class="w-2 h-2" data-reason-id="{{ refuse_reasons.4.id }}" data-method-id="{{ apply_methods.1.id }}" name="refuse">
                </td>
                <td>
                    <input type="checkbox" class="w-2 h-2" data-reason-id="{{ refuse_reasons.4.id }}" data-method-id="{{ apply_methods.2.id }}" name="refuse">
                </td>
            </tr>
            <tr>
                <td>{{ refuse_reasons.5.id }}. {{ refuse_reasons.5.name }}</td>
                <td>
                    <input type="checkbox" class="w-2 h-2" data-reason-id="{{ refuse_reasons.5.id }}" data-method-id="{{ apply_methods.0.id }}" name="refuse">
                </td>
                <td>
                    <input type="checkbox" class="w-2 h-2" data-reason-id="{{ refuse_reasons.5.id }}" data-method-id="{{ apply_methods.1.id }}" name="refuse">
                </td>
                <td>
                    <input type="checkbox" class="w-2 h-2" data-reason-id="{{ refuse_reasons.5.id }}" data-method-id="{{ apply_methods.2.id }}" name="refuse">
                </td>
            </tr>
            <tr>
                <td>{{ refuse_reasons.6.id }}. {{ refuse_reasons.6.name }}</td>
                <td>
                    <input type="checkbox" class="w-2 h-2" data-reason-id="{{ refuse_reasons.6.id }}" data-method-id="{{ apply_methods.0.id }}" name="refuse">
                </td>
                <td>
                    <input type="checkbox" class="w-2 h-2" data-reason-id="{{ refuse_reasons.6.id }}" data-method-id="{{ apply_methods.1.id }}" name="refuse">
                </td>
                <td>
                    <input type="checkbox" class="w-2 h-2" data-reason-id="{{ refuse_reasons.6.id }}" data-method-id="{{ apply_methods.2.id }}" name="refuse">
                </td>
            </tr>
            <tr>
                <td>{{ refuse_reasons.7.id }}. {{ refuse_reasons.7.name }}</td>
                <td>
                    <input type="checkbox" class="w-2 h-2" data-reason-id="{{ refuse_reasons.7.id }}" data-method-id="{{ apply_methods.0.id }}" name="refuse">
                </td>
                <td>
                    <input type="checkbox" disabled="disabled" class="w-2 h-2" data-reason-id="{{ refuse_reasons.7.id }}" data-method-id="{{ apply_methods.1.id }}" name="refuse">
                </td>
                <td>
                    <input type="checkbox" disabled="disabled" class="w-2 h-2" data-reason-id="{{ refuse_reasons.7.id }}" data-method-id="{{ apply_methods.2.id }}" name="refuse">
                </td>
            </tr>
            <tr>
                <td>{{ refuse_reasons.8.id }}. {{ refuse_reasons.8.name }}</td>
                <td>
                    <input type="checkbox" disabled="disabled" class="w-2 h-2" data-reason-id="{{ refuse_reasons.8.id }}" data-method-id="{{ apply_methods.0.id }}" name="refuse">
                </td>
                <td>
                    <input type="checkbox" class="w-2 h-2" data-reason-id="{{ refuse_reasons.8.id }}" data-method-id="{{ apply_methods.1.id }}" name="refuse">
                </td>
                <td>
                    <input type="checkbox" disabled="disabled" class="w-2 h-2" data-reason-id="{{ refuse_reasons.8.id }}" data-method-id="{{ apply_methods.2.id }}" name="refuse">
                </td>
            </tr>
            <tr>
                <td>{{ refuse_reasons.9.id }}. {{ refuse_reasons.9.name }}</td>
                <td>
                    <input type="checkbox" disabled="disabled" class="w-2 h-2" data-reason-id="{{ refuse_reasons.9.id }}" data-method-id="{{ apply_methods.0.id }}" name="refuse">
                </td>
                <td>
                    <input type="checkbox" class="w-2 h-2" data-reason-id="{{ refuse_reasons.9.id }}" data-method-id="{{ apply_methods.1.id }}" name="refuse">
                </td>
                <td>
                    <input type="checkbox" class="w-2 h-2" data-reason-id="{{ refuse_reasons.9.id }}" data-method-id="{{ apply_methods.2.id }}" name="refuse">
                </td>
            </tr>
            <tr>
                <td>{{ refuse_reasons.10.id }}. {{ refuse_reasons.10.name }}</td>
                <td>
                    <input type="checkbox" class="w-2 h-2" data-reason-id="{{ refuse_reasons.10.id }}" data-method-id="{{ apply_methods.0.id }}" name="refuse">
                    <input class="form-control" data-reason-id="{{ refuse_reasons.10.id }}" data-method-id="{{ apply_methods.0.id }}" type="text" name="extra">
                </td>
                <td>
                    <input type="checkbox" class="w-2 h-2" data-reason-id="{{ refuse_reasons.10.id }}" data-method-id="{{ apply_methods.1.id }}" name="refuse">
                    <input class="form-control" data-reason-id="{{ refuse_reasons.10.id }}" data-method-id="{{ apply_methods.1.id }}" type="text" name="extra">
                </td>
                <td>
                    <input type="checkbox" class="w-2 h-2" data-reason-id="{{ refuse_reasons.10.id }}" data-method-id="{{ apply_methods.2.id }}" name="refuse">
                    <input class="form-control" data-reason-id="{{ refuse_reasons.10.id }}" data-method-id="{{ apply_methods.2.id }}" type="text" name="extra">
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="form-group">
    <label class="control-label">2. 貴戶111年是否有使用「農業人力資源平台系統」或「缺工好幫手APP」？</label>
    <div name="heardapp" class="alert alert-danger"></div>
    <div class="form-group">
        <div class="form-group col-md-12">
            <label>
                <input type="checkbox" name="heardapp" data-field="heardapp">有使用
            </label>
        </div>
        <div class="form-group col-md-12">
            <label>
                <input type="checkbox" name="heardapp" data-field="noneheardapp">沒有使用
            </label>
        </div>
    </div>
</div>