<div class="jumbotron">
    <h2><span class="fa fa-globe"></span>農業結構及勞動力調查</h2>
    <hr />
    <p class="lead">
        <span class="fa fa-hand-up"></span> 請於左側功能欄搜尋列輸入您要查詢的農戶編號，
        欲進行檢誤，請點擊<span class="text-success bold">查詢</span>
        ；欲檢視原始調查表，請點擊<span class="text-success bold">查詢原始資料</span>
        ；欲儲存變更，請點擊<span class="text-info bold">更新調查表</span>。若有任何疑問，歡迎來電洽詢。
    </p>
    <p class="lead">
        <span class="fa glyphicon-question-circle"></span>複審Q&A：
        <a href="#QA1" class="btn btn-primary" role="button">調查表寄送相關問題</a>
        <a href="#QA2" class="btn btn-primary" role="button">系統操作問題</a>
        <a href="#QA3" class="btn btn-primary" role="button">審表相關問題</a>
    </p>
    <p class="lead">
        建議瀏覽器：
        <a href="https://www.google.com.tw/chrome/browser/desktop/index.html" target="_blank" class="btn btn-info" role="button">Chrome</a>
        <a href="https://www.mozilla.org/zh-TW/firefox/new" target="_blank" class="btn btn-info" role="button">FireFox</a>
    </p>
</div>
<div class="jumbotron">
    <div class="row row-padded row-centered" id="QA1">
        <h2><span class="fa fa-question-circle"></span>調查表寄送相關問題</h2>
        <hr />
        <h4>Q1：為什麼我在桃園市，卻只收到其他縣市的調查表？</h4>
        <p>由於北部縣市的調查戶數較少，所以不是每位都可以拿到所在縣市的調查表，會有南表北送的情形。</p>
        <h4>Q2：為什麼還沒有收到調查表？</h4>
        <p>由於各縣市回表時間不一，且部分縣市調查表交表有延宕的情形，故時間上有些拖延，預計本週（10/6前）每位複審員皆可收到調查表。</p>
        <h4>Q3：調查表需要交回嗎？</h4>
        <p>調查表影本不用交回，複審員可直接在上面註記，但由於涉及個資，待本次調查完全結束之後，請銷毀，謝謝。</p>
    </div>
    <div class="row row-padded row-centered" id="QA2">
        <h2><span class="fa fa-question-circle"></span>系統操作問題</h2>
        <hr />
        <h4>Q1：為什麼在「線上檢誤小幫手」網頁輸入農戶編號，卻查無農戶資料？</h4>
        <p>由於本次調查時間緊迫，因此複審員收到表與廠商登打是同步進行的，且登打需要作業時間，所以複審員通常可在收到調查表後的1-2天內即可進入系統開始檢誤。建議可以先用調查表影本及公務資料來審表，待系統匯入資料之後即可直接進去系統修改。</p>
        <h4>Q2：是不是檢誤系統只要出現紅色錯誤訊息，我就要更正？</h4>
        <p>請先確認農戶實際情形再更正！系統出現紅色區塊代表錯誤，表示該資料可能已違反相關檢誤條件。但如果因為該農戶有特殊情形，請不要為了消除紅色錯誤而擅自修改資料。若不確定的話，可以先聯絡統計室確認處理原則後再進行修改。</p>
    </div>
    <div class="row row-padded row-centered" id="QA3">
        <h2><span class="fa fa-question-circle"></span>審表相關問題</h2>
        <hr />
        <h4>Q1：如果調查表有錯誤應該如何修正？</h4>
        <p>1.如果是很明顯的錯誤（例如人數、比例加總、面積加總等），可以不用跟縣市初審員及公所調查員確認，直接在系統上更改。</p>

        <p>2.由於公務資料主要為104年農林漁牧業普查資料，在假設該農戶在一年間變化不大的前提下，如調查表若與公務資料差異甚大（例如經營種類完全不同、經營面積、銷售額、戶內人口成員數及其生活型態差異很大），或農戶的面積、作物別及銷售額與僱工人數相對應之後不太合理，則請依照以下原則，確認資料後再更改。</p>
        <ul>
            <li>如該縣市調查表錯誤率高，請擇五～六份調查表掃描或傳真後，退回縣市初審員，請初審員與公所調查員確認後修改。</li>
            <li>直接與公所調查員聯繫，確認農戶實際情形。</li>
            <li>直接與農戶聯繫。</li>
            <li>若調查表在確認之後發現錯誤很多，且非檢誤系統邏輯可判斷紀錄的，請在檢誤系統上第四頁附記欄註記─「與原調查表差異甚大」，以作為縣市考核的參考。</li>
        </ul>

        <h4>Q2：某調查員幾乎都在同一個地方出現錯誤怎麼辦？</h4>
        <p>代表此位調查員可能觀念錯誤，請掃描或傳真幾份調查表給縣市初審員，請初審員與調查員確認。或是直接與公所調查員聯繫（通常公所調查員手上會留存調查表影本），以釐清觀念並進行修改。</p>

        <h4>Q3：戶內成員出生年次與公務資料上的出生年次不同需要與調查員或農戶確認嗎？</h4>
        <p>如調查表僅有出生年次有些微差異，其他部分無誤，可直接依照調查表所填資料為主；如調查表仍有其他錯誤，可與其他錯誤一併與調查員或農戶進行確認。</p>

        <h4>Q4：若因農戶經營規模不大，但有銷售事實，而全年從事自家農牧業工作日數不到30天，且戶內人口皆未填列(1)自營農牧業、(2)受僱農牧業、(3)受託提供農事及服務業任一項，是否為調查對象？</h4>
        <p><span class="fa fa-star"></span>先確認該農戶【3.3貴戶全年銷售額】是否有20萬以上：</p>
        <ul>
            <li>有20萬以上➜戶內人口應有一位勾選自營農牧業工作。例如：種植檳榔較為粗放，從事自家農牧業工作日數不須30天以上，農戶及其配偶主要時間是在檳榔攤，則依該戶農牧業工作主要成員勾選自營農牧業工作、其配偶則可勾選自營農牧業外工作</li>
            <li>未滿20萬➜戶內人口生活型態照實填列，並在檢誤系統上第四頁附記欄註記「戶內人口未符合調查對象」。</li>
        </ul>

        <h4>Q5：若農戶有自家農牧業工作、亦有受僱農牧業工作，【問項4.2】如何填列？</h4>
        <p>自營工作時間與受僱農牧業工作差不多➜自營優先於受僱➜「無」從事農牧業外工作。</p>

        <h4>Q6：噴藥工如何填列？</h4>
        <p>噴藥工若為自己帶機器來，視為農事服務業者，不需填列在僱工情形；但若噴藥工使用的為農戶自己的機器，則視為農戶僱用的技術工。另外，許多農事服務業者會以面積計價，也可以參考計價方式去判別是否為農事服務業者。</p>

        <h4>Q7：養牛畜牧戶有填列可耕作地及畜牧用地經營面積，但在【問項3.1】沒有填列牧草銷售情形可否直接填列？</h4>
        <p>畜牧戶有可耕作地面積，通常為種植牧草僅供牛食用，並沒有銷售。若確認有種植牧草，即可在【問項3.1】新增牧草，銷售額比例填「0」、【問項3.3】全年農產品銷售額區間勾選「未滿20萬元」。</p>

        <h4>Q8：僱用臨時或季節性員工超過六個月，沒有於附記欄註記怎麼辦？</h4>
        <p>請確認填列月份超過六個月的員工，是否為同一人。如有「同一人」，填列「超過六個月」，此人即為常僱員工。若此常僱員工在一個月內工作未滿20天，其月薪請不用填列，避免低估。</p>
    </div>
</div>