{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
        {% block head_title %}
        勞動力調查平台
        {% endblock head_title %}
    </title>

    <!-- Favicon -->
    <link rel="shortcut icon" href='{% static "img/favicon.ico" %}'>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Plugin CSS -->
    <link href="{% static 'vendor/datatables/css/jquery.dataTables.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap3-dialog/css/bootstrap-dialog.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-select/css/bootstrap-select.min.css' %}" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <!-- Custom CSS-->
    <link href="{% static 'css/site.css' %}" rel="stylesheet" type="text/css">

    {% block external_css %}
    {% endblock external_css %}

    <style>
        {% block internal_css %}
        {% endblock internal_css %}
    </style>
</head>

<body>
    {% block content %}
    {% endblock content %}
    <!-- jQuery -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- Plugin JavaScript -->
    <script src="{% static 'vendor/bootstrap3-typeahead/bootstrap3-typeahead.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/jquery/jquery.cookie.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-select/js/bootstrap-select.js' %}"></script>
    <script src="{% static 'vendor/ajax-loading/ajax-loading.js' %}"></script>
    <script src="{% static 'vendor/pace/pace.min.js' %}"></script>
    <script src="{% static 'vendor/compare-strings.js' %}"></script>
    <script src="{% static 'vendor/bootstrap3-dialog/js/bootstrap-dialog.min.js' %}"></script>
    {% block external_js %}
    {% endblock external_js %}

    <script type="text/javascript">
        /* BootstrapDialog settings */
        BootstrapDialog.DEFAULT_TEXTS['OK'] = '確定';
        BootstrapDialog.DEFAULT_TEXTS['CANCEL'] = '取消';
        BootstrapDialog.DEFAULT_TEXTS['CONFIRM'] = '確認';
        $(document).ready(function(){
            $('.export').click(function(){
                $.ajax({
                    url: $(this).data('url'),
                    method: 'GET',
                    success: function(response) {
                        BootstrapDialog.show({
                            title: '已排程您的匯出工作',
                            message: '匯出結果將稍後寄至信箱您的信箱。',
                            type: BootstrapDialog.TYPE_INFO,
                            buttons: [{
                                label: '確定',
                                action: function (dialogRef) {
                                    dialogRef.close();
                                }
                            }]
                        });
                    },
                    error: function () {
                        BootstrapDialog.show({
                            title: '無法排程匯出工作',
                            message: '系統發生錯誤，請通知管理員處理。',
                            type: BootstrapDialog.TYPE_DANGER,
                            buttons: [{
                                label: '確定',
                                action: function (dialogRef) {
                                    dialogRef.close();
                                }
                            }]
                        });
					}
                });
            })
        })
        {% block internal_js %}
        {% endblock internal_js %}
    </script>
</body>
</html>
