{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
        {% block head_title %}
        勞動力調查平台
        {% endblock head_title %}
    </title>

    <!-- Favicon -->
    <link rel="shortcut icon" href='{% static "img/favicon.ico" %}'>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Plugin CSS -->
    <link href="{% static 'vendor/datatables/css/jquery.dataTables.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap3-dialog/css/bootstrap-dialog.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-select/css/bootstrap-select.min.css' %}" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <!-- Custom CSS-->
    <link href="{% static 'css/site.css' %}" rel="stylesheet" type="text/css">

    {% block external_css %}
    {% endblock external_css %}

    <style>
        {% block internal_css %}
        {% endblock internal_css %}
    </style>
</head>

<body>
    {% block content %}
    {% endblock content %}
    <!-- jQuery -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- Plugin JavaScript -->
    <script src="{% static 'vendor/bootstrap3-typeahead/bootstrap3-typeahead.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/jquery/jquery.cookie.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-select/js/bootstrap-select.js' %}"></script>
    <script src="{% static 'vendor/ajax-loading/ajax-loading.js' %}"></script>
    <script src="{% static 'vendor/pace/pace.min.js' %}"></script>
    <script src="{% static 'vendor/compare-strings.js' %}"></script>
    <script src="{% static 'vendor/bootstrap3-dialog/js/bootstrap-dialog.min.js' %}"></script>
    <!-- Logging-->
    <script src="https://browser.sentry-cdn.com/6.19.6/bundle.min.js" integrity="sha384-XITe7oDiyULCpVPtGc52+ISVyD2MAEbbfpNsmYcfxClZXDw+IA906MSf6rhcdf3L" crossorigin="anonymous"></script>
    {% block external_js %}
    {% endblock external_js %}

    {% block session_timeout_js %}
    <!-- Disable this default functionality by empty this block in the extended templates if needed. -->
    <script src="{% static 'vendor/session-timeout/session-timeout.min.js' %}"></script>
    <script type="text/javascript">
        /* SessionTimeout settings */
        SessionMaxAge = {{ session_cookie_age }} * 1000;
        SessionMaxAgeMinute = SessionMaxAge / 1000 / 60;
        $.sessionTimeout({
            title: '工作階段即將到期',
            message: '為了保障資訊安全，系統將在剩餘時間內將您登出，您希望延後登出嗎？',
            keepAliveButton: '延後 ' + SessionMaxAgeMinute +' 分鐘',
            logoutButton: '立刻登出',
            keepAliveUrl: "{% url 'session-keep-alive' %}",
            logoutUrl: "{% url 'users:logout' %}",
            redirUrl: "{% url 'sessiontimeout' %}",
            warnAfter: SessionMaxAge > 600000 ? SessionMaxAge - 600000 : SessionMaxAge / 2,
            redirAfter: SessionMaxAge,
            ajaxType: "GET",
            ignoreUserActivity: true,
            countdownBar: true,
            countdownSmart: true
        });
    </script>
    {% endblock session_timeout_js %}

    <script type="text/javascript">
        /* Sentry settings */
        Sentry.init({
          dsn: "https://2e878ab38ea0468f870435702d667330@o1194684.ingest.sentry.io/6317549",
          environment: "{{ environment }}",
        });
        /* BootstrapDialog settings */
        BootstrapDialog.DEFAULT_TEXTS['OK'] = '確定';
        BootstrapDialog.DEFAULT_TEXTS['CANCEL'] = '取消';
        BootstrapDialog.DEFAULT_TEXTS['CONFIRM'] = '確認';
        $(document).ready(function(){
            $('.export').click(function(){
                $.ajax({
                    url: $(this).data('url'),
                    method: 'GET',
                    success: function(response) {
                        BootstrapDialog.show({
                            title: '已排程您的匯出工作',
                            message: '匯出結果將稍後寄至信箱您的信箱。',
                            type: BootstrapDialog.TYPE_INFO,
                            buttons: [{
                                label: '確定',
                                action: function (dialogRef) {
                                    dialogRef.close();
                                }
                            }]
                        });
                    },
                    error: function () {
                        BootstrapDialog.show({
                            title: '無法排程匯出工作',
                            message: '系統發生錯誤，請通知管理員處理。',
                            type: BootstrapDialog.TYPE_DANGER,
                            buttons: [{
                                label: '確定',
                                action: function (dialogRef) {
                                    dialogRef.close();
                                }
                            }]
                        });
					}
                });
            })
        })
        {% block internal_js %}
        {% endblock internal_js %}
    </script>
</body>
</html>
