<div class="row row-padded row-centered">
    <div class="jumbotron">
        <h2><span class="glyphicon glyphicon-globe"></span>農業結構及勞動力調查</h2>
        <hr />
        <p class="lead">
            <span class="glyphicon glyphicon-hand-up"></span> 請於上方搜尋列輸入您要查詢的農戶編號，欲進行檢誤，請使用
            <span class="text-primary">查詢</span>按鈕；欲檢視原始調查表，請使用<span class="text-success">查詢原始資料</span>按鈕。完成檢誤後，請務必於調查表<span class="text-primary">第四頁</span>點擊<span class="text-success">更新調查表</span>。若有任何疑問，歡迎來電洽詢。
        </p>
        <hr />
        <p class="lead">
            <span class="glyphicon glyphicon-hand-right"></span>系統提示範例如右圖。藍色區塊為<span class="text-primary">提醒</span>，表示無錯誤但須注意的事項；紅色區塊為<span class="text-danger">錯誤</span>，表示該表格應已違反相關檢誤條件。
        </p>
        <p class="lead">
            <span class="glyphicon glyphicon-question-sign"></span>複審Q&A：
            <a href="#QA" class="btn btn-primary" role="button">調查表寄送相關問題</a>
            <a href="#QB" class="btn btn-primary" role="button">系統操作問題</a>
            <a href="#QC" class="btn btn-primary" role="button">審表相關問題</a>
        </p>
        <hr />
        <p class="lead">
            <span class="glyphicon glyphicon-cloud-download"></span>公務資料下載：
            <a href="/勞動力調查/宜蘭縣.xlsx" class="btn btn-success btn-sm" role="button">宜蘭縣</a>
            <a href="/勞動力調查/花蓮縣.xlsx" class="btn btn-success btn-sm" role="button">花蓮縣</a>
            <a href="/勞動力調查/南投縣.xlsx" class="btn btn-success btn-sm" role="button">南投縣</a>
            <a href="/勞動力調查/屏東縣.xlsx" class="btn btn-success btn-sm" role="button">屏東縣</a>
            <a href="/勞動力調查/苗栗縣.xlsx" class="btn btn-success btn-sm" role="button">苗栗縣</a>
            <a href="/勞動力調查/桃園市.xlsx" class="btn btn-success btn-sm" role="button">桃園市</a>
            <a href="/勞動力調查/高雄市.xlsx" class="btn btn-success btn-sm" role="button">高雄市</a>
            <a href="/勞動力調查/基隆市.xlsx" class="btn btn-success btn-sm" role="button">基隆市</a>
            <a href="/勞動力調查/雲林縣.xlsx" class="btn btn-success btn-sm" role="button">雲林縣</a>
            <a href="/勞動力調查/新北市.xlsx" class="btn btn-success btn-sm" role="button">新北市</a>
            <a href="/勞動力調查/新竹縣.xlsx" class="btn btn-success btn-sm" role="button">新竹縣</a>
            <a href="/勞動力調查/新竹市.xlsx" class="btn btn-success btn-sm" role="button">新竹市</a>
            <a href="/勞動力調查/嘉義市.xlsx" class="btn btn-success btn-sm" role="button">嘉義市</a>
            <a href="/勞動力調查/嘉義縣.xlsx" class="btn btn-success btn-sm" role="button">嘉義縣</a>
            <a href="/勞動力調查/彰化縣.xlsx" class="btn btn-success btn-sm" role="button">彰化縣</a>
            <a href="/勞動力調查/臺中市.xlsx" class="btn btn-success btn-sm" role="button">臺中市</a>
            <a href="/勞動力調查/臺北市.xlsx" class="btn btn-success btn-sm" role="button">臺北市</a>
            <a href="/勞動力調查/臺東縣.xlsx" class="btn btn-success btn-sm" role="button">臺東縣</a>
            <a href="/勞動力調查/臺南市.xlsx" class="btn btn-success btn-sm" role="button">臺南市</a>
        </p>
        <hr />
        <p class="lead">
            <span class="glyphicon glyphicon-eye-open"></span>建議瀏覽器：
            <a href="https://www.google.com.tw/chrome/browser/desktop/index.html" target="_blank" class="btn btn-info" role="button">Chrome</a>
            <a href="https://www.mozilla.org/zh-TW/firefox/new" target="_blank" class="btn btn-info" role="button">FireFox</a>
        </p>
    </div>
</div>