{% load i18n %}
<!-- Navigation -->

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand js-partial-control" data-target="about" id="nav-brand">{% trans '勞動力調查平台' %}</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a class="nav-link js-partial-control" data-target="about" id="nav-about">關於</a></li>
                {% if user.is_staff %}
                <li><a class="nav-link js-partial-control" data-target="about" href="https://github.com/COAStatistics/alss-dev" target="_blank">Github</a></li>
                <li class="dropdown">
                    <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">API介接 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                <li><a href="{% url 'surveys18:builder:api:create' %}" target="_blank">匯入</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nested</li>
                <li><a href="{% url 'surveys18:api:list' %}" target="_blank">Survey</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Singleton</li>
                <li><a href="{% url 'surveys18:api:list_singleton_survey' %}" target="_blank">Survey</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">經營型態</li>
                <li><a href="{% url 'surveys18:api:list_singleton_business' %}" target="_blank">Business</a></li>
                <li><a href="{% url 'surveys18:api:list_singleton_farmrelatedbusiness' %}" target="_blank">FarmRelatedBusiness</a></li>
                <li><a href="{% url 'surveys18:api:list_singleton_managementtype' %}" target="_blank">ManagementType</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">經營面積</li>
                <li><a href="{% url 'surveys18:api:list_singleton_landarea' %}" target="_blank">LandArea</a></li>
                <li><a href="{% url 'surveys18:api:list_singleton_landtype' %}" target="_blank">LandType</a></li>
                <li><a href="{% url 'surveys18:api:list_singleton_landstatus' %}" target="_blank">LandStatus</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">農畜產品銷售情形</li>
                <li><a href="{% url 'surveys18:api:list_singleton_cropmarketing' %}" target="_blank">CropMarketing</a></li>
                <li><a href="{% url 'surveys18:api:list_singleton_livestockmarketing' %}" target="_blank">LivestockMarketing</a></li>
                <li><a href="{% url 'surveys18:api:list_singleton_product' %}" target="_blank">Product</a></li>
                <li><a href="{% url 'surveys18:api:list_singleton_producttype' %}" target="_blank">ProductType</a></li>
                <li><a href="{% url 'surveys18:api:list_singleton_unit' %}" target="_blank">Unit</a></li>
                <li><a href="{% url 'surveys18:api:list_singleton_loss' %}" target="_blank">Loss</a></li>
                <li><a href="{% url 'surveys18:api:list_singleton_contract' %}" target="_blank">Contract</a></li>
                <li><a href="{% url 'surveys18:api:list_singleton_annualincome' %}" target="_blank">AnnualIncome</a></li>
                <li><a href="{% url 'surveys18:api:list_singleton_markettype' %}" target="_blank">MarketType</a></li>
                <li><a href="{% url 'surveys18:api:list_singleton_incomerange' %}" target="_blank">IncomeRange</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">戶內人口</li>
                <li><a href="{% url 'surveys18:api:list_singleton_population' %}" target="_blank">Population</a></li>
                <li><a href="{% url 'surveys18:api:list_singleton_populationage' %}" target="_blank">PopulationAge</a></li>
                <li><a href="{% url 'surveys18:api:list_singleton_educationlevel' %}" target="_blank">EducationLevel</a></li>
                <li><a href="{% url 'surveys18:api:list_singleton_lifestyle' %}" target="_blank">LifeStyle</a></li>
                <li><a href="{% url 'surveys18:api:list_singleton_farmerworkday' %}" target="_blank">FarmerWorkDay</a></li>
                <li><a href="{% url 'surveys18:api:list_singleton_otherfarmwork' %}" target="_blank">OtherFarmWork</a></li>
                <li><a href="{% url 'surveys18:api:list_singleton_relationship' %}" target="_blank">Relationship</a></li>
                <li><a href="{% url 'surveys18:api:list_singleton_gender' %}" target="_blank">Gender</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">外僱人力</li>
                <li><a href="{% url 'surveys18:api:list_singleton_contenttype' %}" target="_blank">ContentType</a></li>
                <li><a href="{% url 'surveys18:api:list_singleton_longtermhire' %}" target="_blank">LongTermHire</a></li>
                <li><a href="{% url 'surveys18:api:list_singleton_shorttermhire' %}" target="_blank">ShortTermHire</a></li>
                <li><a href="{% url 'surveys18:api:list_singleton_numberworkers' %}" target="_blank">NumberWorkers</a></li>
                <li><a href="{% url 'surveys18:api:list_singleton_nosalaryhire' %}" target="_blank">NoSalaryHire</a></li>
                <li><a href="{% url 'surveys18:api:list_singleton_worktype' %}" target="_blank">WorkType</a></li>
                <li><a href="{% url 'surveys18:api:list_singleton_agescope' %}" target="_blank">AgeScope</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">短缺人力</li>
                <li><a href="{% url 'surveys18:api:list_singleton_longtermlack' %}" target="_blank">LongTermLack</a></li>
                <li><a href="{% url 'surveys18:api:list_singleton_shorttermlack' %}" target="_blank">ShortTermLack</a></li>
                <li><a href="{% url 'surveys18:api:list_singleton_product' %}" target="_blank">Product</a></li>
                <li><a href="{% url 'surveys18:api:list_singleton_worktype' %}" target="_blank">WorkType</a></li>
                <li><a href="{% url 'surveys18:api:list_singleton_lack' %}" target="_blank">Lack</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">其他</li>
                <li><a href="{% url 'surveys18:api:list_singleton_addressmatch' %}" target="_blank">Address Match</a></li>
                <li><a href="{% url 'surveys18:api:list_singleton_phone' %}" target="_blank">Phone</a></li>
                <li><a href="{% url 'surveys18:api:list_singleton_subsidy' %}" target="_blank">Subsidy</a></li>
                <li><a href="{% url 'surveys18:api:list_singleton_refuse' %}" target="_blank">Refuse</a></li>
                <li><a href="{% url 'surveys18:api:list_singleton_refusereason' %}" target="_blank">Refuse Reason</a></li>
            </ul>
                </li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user"></i> {{ user.first_name }}{{ user.last_name }}<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a class="nav-link js-partial-control" data-target="datatable">{% trans '檢視編輯歷史' %}</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{% url 'accounts:logout' %}">{% trans '登出' %}</a></li>
            </ul>
            </li>
            </ul>
            </div><!--/.nav-collapse -->
        </div>
    <!--/.container-fluid -->
</nav>



