<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand js-partial-control" data-target="about" id="nav-brand">勞動力調查平台</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a class="nav-link js-partial-control" data-target="about" id="nav-about">關於</a></li>
                {% if user.is_staff %}
                <li><a class="nav-link js-partial-control" data-target="about" href="https://github.com/COAStatistics/alss-dev" target="_blank">Github</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user"></i> {{ user.full_name }}<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a class="nav-link js-partial-control" data-target="datatable">我的審表紀錄</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{% url 'users:logout' %}">登出</a></li>
            </ul>
            </li>
            </ul>
            </div><!--/.nav-collapse -->
        </div>
    <!--/.container-fluid -->
</nav>



