<tr>
    <td>
        <i name="index"></i>
    </td>
    <td>
        {% include 'surveys18/dropdown-ui/crop-product.html' %}
    </td>
    <td>
        <input class="small form-control" name="landnumber" type="text">
    </td>
    <td>
        <input class="form-control" name="landarea" type="text">
    </td>
    <td>
        <input class="small form-control" name="planttimes" type="text">
    </td>
    <td>
        {% include 'surveys18/dropdown-ui/crop-unit.html' %}
    </td>
    <td>
        <input class="form-control" name="totalyield" type="text">
    </td>
    <td>
        <input class="form-control" name="unitprice" type="text">
    </td>
    <td>
        {% include 'surveys18/dropdown-ui/has-facility.html' %}
    </td>
    <td>
        {% include 'surveys18/dropdown-ui/crop-loss.html' %}
    </td>
    <td>
        {% include 'surveys18/button-ui/remove-row.html' %}
    </td>
</tr>