<tr>
    <td>
        <i name="index"></i>
    </td>
    <td>
        {% include 'surveys18/dropdown-ui/month.html' %}
    </td>
    <td>
       <input class="form-control" name="sumcount" type="text" placeholder="0" disabled>
    </td>
    {% for scope in hire_age_scopes %}
        <td>
            <input class="form-control small" name="numberworker" data-agescope-id="{{ scope.id }}" type="text" placeholder="0">
        </td>
    {% endfor %}
    <td>
        {% include 'surveys18/dropdown-ui/work-type.html' %}
    </td>
    <td>
        <input class="form-control" name="avgworkday" type="text" placeholder="0">
    </td>
    <td>
        {% include 'surveys18/button-ui/remove-row.html' %}
    </td>
</tr>

