{% extends 'base.html' %} {% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block head_title %}
{% trans '勞動力調查平台' %}
{% endblock head_title%}

{% block external_css %}
<link href="{% static 'vendor/pace/pace-theme-loading-bar.css' %}" rel="stylesheet">
<link href="{% static 'css/index.css' %}" rel="stylesheet">
{% endblock external_css %}

{% block external_js %}
<script src="{% static 'js/index.js' %}"></script>
<script src="{% static 'js/surveys2018.js' %}"></script>
{% endblock external_js %}

{% block content %}

<!-- Hidden Value For UI Elements -->
<input type="hidden" id="ui" value="{{ ui }}"/>

<div id="wrapper" class="wrapper container">
    <!-- Navigation-->
    {% include 'navbar.html' %}
    <!-- Page Content -->
    <div class="row">
        <div class="col-md-2 col-md-offset-1">
            <div data-spy="affix">
                <h4 class="my-3 bold">年份</h4>
                <div class="list-group">
                    <a href="#" class="list-group-item active">107年</a>
                </div>
                <h4 class="my-3 bold">查詢</h4>
                <div class="list-group">
                    <input type="text" class="form-control input-lg" id="farmerId" placeholder="請輸入農戶編號" value="670050010001">
                    <div class="btn-group flex mt-1" role="group" aria-label="">
                        <button type="button" class="btn btn-success btn-lg js-get-survey" data-readonly="false" data-url="{% url 'surveys18:get_surveys' %}">查詢</button>
                        <button type="button" class="btn btn-success btn-lg js-get-survey" data-readonly="true" data-url="{% url 'surveys18:get_surveys' %}">查詢原始資料</button>
                    </div>
                </div>
                <h4 class="my-3 bold">調查表</h4>
                <div class="list-group js-panel-tabs">
                    <a href="#" class="list-group-item" data-target="#panel1">基本資料</a>
                    <a href="#" class="list-group-item" data-target="#panel2">農業經營型態</a>
                    <a href="#" class="list-group-item" data-target="#panel3">戶內人口組成狀況</a>
                    <a href="#" class="list-group-item" data-target="#panel4">農業外僱人力</a>
                    <button type="button" class="btn btn-info btn-lg btn-block mt-1" id="#">更新</button>
                </div>
            </div>
        </div>
        <div class="col-md-8 js-panel-contents">
            {% include 'panel1.html' %}
            {% include 'panel2.html' %}
            {% include 'panel3.html' %}
            {% include 'panel4.html' %}
        </div>
        <!-- /.col-lg-9 -->
    </div>
    <!-- /.row -->
</div>
<!-- /#wrapper -->
{% endblock content %}