<label class="control-label">2. 常僱員工
    <small class="text-muted">（同一人全年須僱用6個月以上，不限每月工作日數）</small>
</label>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th class="col-md-3">主要短缺工作類型</th>
            <th class="col-md-3">人數
                <small class="text-muted">（人）</small>
            </th>
            <th class="col-md-5">缺工月份
                <small class="text-muted">（可複選）</small>
            </th>
            <th class="col-md-2">刪除</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>