<div class="panel panel-primary" id="panel1">
    <div class="panel-heading">農戶基本資料</div>
    <div class="panel-body">
        <div class="form-group">
    <div class="row mb-1">
        <div class="col-xs-6">
            <label class="control-label">農戶編號</label>
            <input type="text" class="form-control disabled" name="farmer_id" />
        </div>

        <div class="col-xs-6">
            <label class="control-label">受訪人姓名</label>
            <input type="text" class="form-control" name="farmer_name" />
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-xs-6">
            <label class="control-label">連絡電話1</label>
            <input type="text" class="form-control" name="phone" />
        </div>

        <div class="col-xs-6">
            <label class="control-label">連絡電話2</label>
            <input type="text" class="form-control" name="phone" />
        </div>

    </div>
    <div class="row mb-1">
        <div class="col-xs-12">
            <label class="control-label">地址</label>
            <label class="radio-inline">
                <input type="radio" name="rating" value="true" checked/> 與調查名冊相同
            </label>
            <label class="radio-inline">
                <input type="radio" name="rating" value="false" /> 不同
            </label>
            <input type="text" class="form-control" name="origin_class" />
        </div>
    </div>
</div>
    </div>
</div>
