<label class="control-label">3. 臨時或季節性員工員工
    <small class="text-muted">（僱用未達6個月）</small>
</label>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th class="col-md-3">農畜產品名稱</th>
            <th class="col-md-3">主要短缺工作類型</th>
            <th class="col-md-2">人數（人）</th>
            <th class="col-md-3">缺工月份
                <small class="text-muted">（可複選）</small>
            </th>
            <th class="col-md-1">刪除</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>