<label class="control-label">3. 臨時或季節性員工
    <small class="text-muted">（僱用未達6個月，若該月份因農忙期或季節性因素致僱用人數不固定時，請以最多人數填寫）</small>
</label>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th rowspan="2">月份
                <small class="text-muted">（國曆）</small>
            </th>
            <th rowspan="2">人數
                <small class="text-muted">（人）</small>
            </th>
            <th colspan="3">年齡
                <small class="text-muted">（人數）</small>
            </th>
            <th rowspan="2">主要僱用工作類型</th>
            <th rowspan="2">平均每月工作日數
                <small class="text-muted">（日）</small>
            </th>
            <th rowspan="2">刪除</th>
        </tr>
        <tr>
            {% for scope in hire_age_scopes %}
                <td>{{ scope.name }}</td>
            {% endfor %}
        </tr>
    </thead>
    <tbody></tbody>
</table>