<h4>1.5 貴戶全年畜禽產銷情形
    <small class="text-muted">（包括副產物價值，如雞糞、淘汰畜禽；畜禽種類名稱如超過8筆應加表續填）</small>
</h4>
<div name="livestockmarketing" class="alert alert-warning"></div>
<div name="livestockmarketing" class="alert alert-danger"></div>
<div class="table-responsive">
    <table class="table table-striped table-hover" name="livestockmarketing">
        <thead>
            <tr>
                <th>列號</th>
                <th>畜禽名稱</th>
                <th>計量單位</th>
                <th>年底在養數量</th>
                <th>全年銷售數量</th>
                <th>銷售平均單價（元）</th>
                <th>契約飼養</th>
                <th>特殊情形</th>
                <th>刪除</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<button class="btn btn-block btn-info js-add-row" name="livestockmarketing">
    <i class="fa fa-plus" aria-hidden="true"></i> 新增一筆畜禽產銷情形
</button>