<tr>
    <td>
        <i name="index"></i>
    </td>
    <td>
        {% include 'surveys19/dropdown-ui/livestock-product.html' %}
    </td>
    <td>
        <input class="form-control" name="name" type="text">
    </td>
    <td>
        {% include 'surveys19/dropdown-ui/livestock-unit.html' %}
    </td>
    <td>
        <input class="form-control" name="raisingnumber" type="text">
    </td>
    <td>
        <input class="form-control" name="year_sales" type="text">
    </td>
    <td>
        {% include 'surveys19/dropdown-ui/contract.html' %}
    </td>
    <td>
        {% include 'surveys19/dropdown-ui/livestock-loss.html' %}
    </td>
    <td>
        {% include 'surveys19/button-ui/remove-row.html' %}
    </td>
</tr>
