<label class="control-label">3. 臨時或季節性員工員工
    <small class="text-muted">（僱用未達6個月）</small>
</label>
<div name="shorttermlack" class="alert alert-info"></div>
<div name="shorttermlack" class="alert alert-danger"></div>
<div class="table-responsive">
    <table class="table table-striped table-hover" name="shorttermlack">
        <thead>
            <tr>
                <th>列號</th>
                <th>農畜產品名稱</th>
                <th>農畜產品代碼</th>
                <th>主要短缺工作類型</th>
                <th>人數（人）</th>
                <th>缺工月份
                    <small class="text-muted">（可複選）</small>
                </th>
                <th>平均每月短缺日數（日）</th>
                <th class="w-50">刪除</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<button class="btn btn-block btn-info js-add-row" name="shorttermlack">
    <i class="fa fa-plus" aria-hidden="true"></i> 新增一筆臨時或季節性員工員工
</button>
