<h4>3.3 短缺情形</h4>

<div class="form-group">
    <label class="control-label">1. 貴戶112農業人力短缺情形</label>
    <div name="lack" class="alert alert-danger"></div>
    <div>
        {% for lack in lacks %}
        <div class="checkbox">
            <label>
                <input type="checkbox" name="lack" data-lack-id="{{ lack.id }}" data-islack="{{ lack.is_lack|yesno:'true,false' }}">{{ lack.name }}
                {% if lack.id > 1 %}
                    <small class="text-muted">（續填3.3.3~3.3.4）</small>
                {% endif %}
            </label>
        </div>
        {% endfor %}
    </div>
    <hr/>
    <label class="control-label">2. 委託農事及畜牧服務業者
        <small class="text-muted">（如委託業者從事犁田整地、收穫及家畜禽配種等。）</small>
    </label>
    <div name="farmoutsource" class="alert alert-danger"></div>
    <div>
        <label class="checkbox-inline">
            <input type="checkbox" name="farmoutsource" data-field="hasfarmoutsource"/> 有
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" name="farmoutsource" data-field="nonhasfarmoutsource"/> 無
        </label>
    </div>
    <hr/>
    {% include 'surveys24/panel4-node3-node1.html' %}
    <hr />
    {% include 'surveys24/panel4-node3-node2.html' %}
</div>
