<tr>
    <td>
        <i name="index"></i>
    </td>
    <td>
        {% include 'surveys24/dropdown-ui/foreign-labor-hire-type.html' %}
    </td>
    <td>
        {% include 'surveys24/dropdown-ui/month.html' %}
    </td>
    <td>
        <input class="form-control" name="count" type="text" placeholder="0">
    </td>
    <td>
        <input class="form-control" name="avgworkday" type="text" placeholder="0">
    </td>
    <td>
        {% include 'surveys24/button-ui/remove-row.html' %}
    </td>
</tr>
