<div class="jumbotron">
    <h2><span class="fa fa-globe"></span> <b>106</b>年農業勞動力調查</h2>
    <hr />
    <p class="lead">
        <span class="fa fa-hand-up"></span> 請於左側功能欄搜尋列輸入您要查詢的農戶編號，
        欲進行檢誤，請點擊<span class="text-success bold">查詢</span>
        ；欲檢視原始調查表，請點擊<span class="text-success bold">查詢原始資料</span>
        ；欲儲存變更，請點擊<span class="text-info bold">更新調查表</span>。若有任何疑問，歡迎來電洽詢。
    </p>
    <p class="lead">
        <span class="fa glyphicon-question-circle"></span>審表Q&A：
        <a href="#QA1" class="btn btn-primary" role="button">調查表寄送相關問題</a>
        <a href="#QA2" class="btn btn-primary" role="button">系統操作問題</a>
        <a href="#QA3" class="btn btn-primary" role="button">審表相關問題</a>
    </p>
    <p class="lead">
        建議瀏覽器：
        <a href="https://www.google.com.tw/chrome/browser/desktop/index.html" target="_blank" class="btn btn-info" role="button">Chrome</a>
        <a href="https://www.mozilla.org/zh-TW/firefox/new" target="_blank" class="btn btn-info" role="button">FireFox</a>
    </p>
</div>
<div class="jumbotron">
    <h2><span class="fa fa-question-circle"></span> 聯絡資訊</h2>
    <hr/>
    <div class="row">
        <div class="col-md-4">
            <p class="text-primary">
                <span class="glyphicon glyphicon-user"></span> 邱郁筑
            </p>
            <p class="text-primary">
                <span class="glyphicon glyphicon-earphone"></span> (02)2312-6369
            </p>
            <p class="text-primary">
                <span class="glyphicon glyphicon-envelope"></span> emily094@mail.coa.gov.tw
            </p>
        </div>
        <div class="col-md-4">
            <p class="text-primary">
                <span class="glyphicon glyphicon-user"></span> 林楓敏
            </p>
            <p class="text-primary">
                <span class="glyphicon glyphicon-earphone"></span> (02)2312-6351
            </p>
            <p class="text-primary">
                <span class="glyphicon glyphicon-envelope"></span> mlin660909@mail.coa.gov.tw
            </p>
        </div>
        <div class="col-md-4">
            <p class="text-primary">
                <span class="glyphicon glyphicon-user"></span> 黃彥慈
            </p>
            <p class="text-primary">
                <span class="glyphicon glyphicon-earphone"></span> (02)2312-6377
            </p>
            <p class="text-primary">
                <span class="glyphicon glyphicon-envelope"></span> jellybear@mail.coa.gov.tw
            </p>
        </div>
    </div>
</div>
<div class="jumbotron">
    <div class="row row-padded row-centered" id="QA1">
        <h2><span class="fa fa-question-circle"></span> 調查表寄送相關問題</h2>
        <hr />
        <h3>Q1：為什麼還沒有收到調查表？</h3>
        <p>由於各訪員回表時間不一，廠商收到調查表之後需要先送印才會將調查表影本送至各位審核員手上。</p>
        <h3>Q2：調查表影本需要交回嗎？</h3>
        <p>須交回或銷毀。由於涉及個資，待本次調查完全結束之後，會統一通知各位銷毀（特約調查員請將調查表影本送至銳奇或各區農糧署分署統一銷毀）。</p>
    </div>
</div>

<div class="jumbotron">
    <div class="row row-padded row-centered" id="QA2">
        <h2><span class="fa fa-question-circle"></span> 系統操作問題</h2>
        <hr />
        <h3>Q1：為什麼在「線上檢誤小幫手」網頁輸入農戶編號，卻查無農戶資料？</h3>
        <p>由於審核員收到表與廠商登打是同步進行的，且登打需要作業時間，所以審核員通常可在收到調查表後的1-2天內即可進入系統開始檢誤。建議可以先用調查表影本及公務資料來審表，待系統匯入資料之後即可直接進去系統修改。</p>
        <h3>Q2：是不是檢誤系統只要出現紅色錯誤訊息，我就要更正？</h3>
        <p><mark>請先確認農戶實際情形再更正！</mark>系統出現紅色區塊代表錯誤，表示該資料<mark>可能</mark>已違反相關檢誤條件。但如果因為該農戶有特殊情形，請不要為了消除紅色錯誤而擅自修改資料。若不確定的話，可以先聯絡統計室確認處理原則後再進行修改。</p>
    </div>
</div>

<div class="jumbotron">
    <div class="row row-padded row-centered" id="QA3">
        <h2><span class="fa fa-question-circle"></span> 審表相關問題</h2>
        <hr />
        <h3>Q1：如果調查表有錯誤應該如何修正？</h3>
        <p> ● 如果是很明顯的錯誤（能根據有關資料代為判明更正者），可以直接在系統上代為合理修正，但無法判明更正者，則須退回訪員複查更正。</p>
        <br>
        <p> ● 如【問項1.4】全年產量 ╳ 銷售平均單價或【問項1.5】全年銷售數量 ╳ 銷售平均單價的<mark>總銷售額區間</mark>合理即可通過審核。</p>
        <h3>Q2：【問項1.4】農作物為加工後販售（例如茶葉、蓮藕粉等）應如何填列？</h3>
        <p><mark>※※【問項1.4】填初級農作物或加工後農產品皆可！</mark></p>
        <p> ● 直接填列加工後農產品（如茶葉、乾香菇、蓮藕粉、果乾）：則【問項1.4】之產量及單價亦填加工後農產品之產量及單價。</p>
        <br>
        <p>● 僅填列初級農作物（如茶菁、濕香菇、蓮藕、芒果）：則應於附記欄註記加工農產品產量及銷售額，且加工後銷售額應符合【問項1.6】銷售額區間。</p>
        <h3>Q3：噴藥工如何填列？</h3>
        <p>噴藥工若為自己帶機器來，並以面積計價者（人＋機＋面積），視為農事服務業者，不需填列在【問項3.1】僱工情形，但請於<mark>附註欄</mark>註記，其他則視為農戶僱用的技術工（12）。</p>
    </div>
</div>

<div class="jumbotron">
    <div class="row row-padded row-centered" id="QA4">
        <h2><span class="fa fa-question-circle"></span> 其他注意事項</h2>
        <hr />
        <p>請在審查結束後，提供評分統計表至農委會統計室。</p>
    </div>
</div>