{% extends 'base.html' %} {% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block head_title %}
勞動力調查平台
{% endblock head_title%}

{% block external_css %}
<link href="{% static 'vendor/pace/pace-theme-loading-bar.css' %}" rel="stylesheet">
<link href="{% static 'css/index.css' %}" rel="stylesheet">
<!-- Color Theme -->
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-light-blue.css">
{% endblock external_css %}

{% block external_js %}
<script src="{% static 'js/utils.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>
<script src="{% static 'js/surveys18/helper.js' %}"></script>
{% endblock external_js %}

{% block content %}

<!-- Hidden Value For UI Elements -->
<input type="hidden" id="ui" value="{{ ui }}"/>
<input type="hidden" id="fid" value="{{ fid }}"/>

<div id="wrapper" class="wrapper container">
    <!-- Navigation-->
    {% include 'navbar.html' %}
    <!-- Page Content -->
    <div class="row">
        <div class="col-md-3 col-lg-2">
            <div class="affix" data-spy="affix">
                <div>
                    <h4 class="my-3 bold">選擇年份</h4>
                    <div class="list-group">
                        <a href="{% url 'surveys18:surveys18_index' %}" class="list-group-item active">106</a>
                        <a href="{% url 'surveys19:surveys19_index' %}" class="list-group-item">107</a>
                    </div>
                </div>
                <div>
                    <h4 class="my-3 bold">查詢106年調查表</h4>
                    <div class="list-group">
                        <input type="text" class="form-control input-lg" id="farmerId" data-provide="typehead"
                               placeholder="請輸入農戶編號">
                        <div class="btn-group-vertical flex mt-1" role="group" aria-label="" style="width:100%;">
                            <button type="button" class="btn btn-success btn-lg js-get-survey"
                                    data-readonly="false" data-url="{% url 'surveys18:survey-list' %}">查詢</button>
                            <button type="button" class="btn btn-success btn-lg js-get-survey"
                                    data-readonly="true" data-url="{% url 'surveys18:survey-list' %}">查詢原始資料</button>
                        </div>
                    </div>
                </div>
                <div data-partial="survey">
                    <h3 class="my-3 bold">
                        <span>調查表</span>
                        <button class="btn btn-default btn-sm pull-right js-tabs-control" data-target="#panel1,#panel2,#panel3,#panel4">顯示整張</button>
                    </h3>
                    <div class="list-group list-group-sm">
                        <a href="#" class="list-group-item js-tabs-control small" data-target="#panel1">基本資料</a>
                        <a href="#" class="list-group-item js-tabs-control small" data-target="#panel2">農業經營型態</a>
                        <a href="#" class="list-group-item js-tabs-control small" data-target="#panel3">戶內人口組成狀況</a>
                        <a href="#" class="list-group-item js-tabs-control small" data-target="#panel4">農業外僱人力</a>
                        <button type="button" class="btn btn-info btn-lg btn-block mt-1 js-set-survey"
                                    data-url="{% url 'surveys18:survey-patch' %}">更新調查表</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-9 col-lg-10 js-panel-contents">
            <div data-partial="about">
                {% include 'surveys18/about.html' %}
            </div>
            <div data-partial="survey">
                {% include 'surveys18/panel1.html' %}
                {% include 'surveys18/panel2.html' %}
                {% include 'surveys18/panel3.html' %}
                {% include 'surveys18/panel4.html' %}
            </div>
            <div data-partial="datatable">
                {% include 'reviewlog.html'%}
            </div>
        </div>
        <!-- /.col-lg-9 -->
    </div>
    <!-- /.row -->
</div>
<!-- /#wrapper -->
{% endblock content %}
