<h4>1.4 貴戶全年農作物產銷情形
    <small class="text-muted">（包括副產物價值，鳳梨苗、香蕉苗或梨穗等：作物種類名稱如超過8筆應加表續填）</small>
</h4>
<div name="cropmarketing" class="alert alert-warning"></div>
<div name="cropmarketing" class="alert alert-danger"></div>
<div class="table-responsive">
    <table class="table table-striped table-hover" name="cropmarketing">
        <thead>
            <tr>
                <th>列號</th>
                <th>作物名稱</th>
                <th>耕作地編號</th>
                <th>單期（次）種植面積</th>
                <th>種植次數</th>
                <th>計量單位</th>
                <th>全年產量</th>
                <th>銷售平均單價</th>
                <th>是否使用農業設施</th>
                <th>特殊情形</th>
                <th>刪除</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<button class="btn btn-block btn-info js-add-row" name="cropmarketing">
    <i class="fa fa-plus" aria-hidden="true"></i> 新增一筆農作物產銷情形
</button>