<tr>
    <td>
        <i name="index"></i>
    </td>
    <td>
        <input class="form-control" name="name" type="text">
    </td>
    <td>
        {% include 'surveys19/dropdown-ui/product.html' %}
    </td>
    <td>
        {% include 'surveys19/dropdown-ui/work-type.html' %}
    </td>
    <td>
        <input class="form-control" name="count" type="text">
    </td>
    <td>
        {% include 'surveys19/dropdown-ui/month.html' %}
    </td>
    <td>
        <input class="form-control" name="avglackday" type="text" placeholder="0">
    </td>
    <td>
        {% include 'surveys19/button-ui/remove-row.html' %}
    </td>
</tr>
