<tr>
    <td>
        {% include 'dropdown-ui/relationship.html' %}
    </td>
    <td>
        {% include 'dropdown-ui/gender.html' %}
    </td>
    <td>
        <input class="form-control" name="birthyear" type="text">
    </td>
    <td>
        {% include 'dropdown-ui/education-level.html' %}
    </td>
    <td>
        {% include 'dropdown-ui/farmer-work-day.html' %}
    </td>
    <td>
        {% include 'dropdown-ui/life-style.html' %}
    </td>
    <td>
        {% include 'dropdown-ui/other-farm-work.html' %}
    </td>
    <td>
        <button type="button" class="btn btn-default btn-sm">
            <span class="fa fa-remove" aria-hidden="true"></span>
        </button>
    </td>
</tr>