<h4>2.2 戶內滿15以上人口組成狀況
    <small class="text-muted">※請將民國92年12月31日以前出生者逐一填寫;若人數超過8人時，請加表續填</small>
</h4>
<div name="population" class="alert alert-info"></div>
<div name="population" class="alert alert-danger"></div>
<div class="table-responsive">
    <table class="table table-striped table-hover" name="population">
        <thead>
            <tr>
                <th>列號</th>
                <th class="col-md-2">與戶長之關係</th>
                <th class="col-md-2">性別</th>
                <th class="col-md-1">出生年次(民國)</th>
                <th class="col-md-2">教育程度別</th>
                <th class="col-md-2">全年從事自家農牧業工作日數</th>
                <th class="col-md-2">全年主要生活型態</th>
                <th class="w-50 col-md-1">刪除</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<button class="btn btn-block btn-info js-add-row" name="population">
    <i class="fa fa-plus" aria-hidden="true"></i> 新增一筆戶內人口組成狀況
</button>
